.nav {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 12px 0 black;
}
.logoo {
    width: 100px;
    height: 100px;
    padding: 1px;
}

.name {
position: absolute;
}
