.containerc input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .containerc input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .containerc input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .containerc {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    height: 750px;
  }
  
  .containerc h2 {
    padding: 30px;
  }
  /* Create two columns that float next to eachother */
  .containerc .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .containerc .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .containerc {

    }
  }
  
#contact {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    background-size: cover;
}
#contact #content {
    max-width: 800px;
    text-align: center;
}


#container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
}

#container #contactINFO {
    width: 50%;
    display: flex;
    flex-direction: column;

}
#container #contactINFO .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
#container #contactINFO .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: rgb(186, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
#container #contactINFO .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px ;
    color: black;
    flex-direction: column;
    font-weight: 300;
}

#container #contactINFO .box .text h3 {
    font-weight: 500;
    color: green;
}

@media (max-width: 991px)
{
    #contact{
        padding: 50px;
    }

    #container{
        flex-direction: column;
    }

    .inputBox #contactINFO{
        margin-bottom: 40px;
    }
    #container #contactINFO,
    #contactForm
        {
        width: 100%;
    }
}

